html, body {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url("../images/audi.jpg");
    /* background-repeat: no-repeat; */
    background-size: auto;
}

.card {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

#reset-game {
    margin: 0 auto;
}

div[id^="answer"]:hover {
    cursor: pointer;
}

#game-title {
    font-family: 'Monoton', sans-serif;
    font-size: 4em;
}